h1 {color: rgb(255, 0, 0);
    text-align: center;
}
#texto-animado {
    font-family: 'System', sans-serif;
    font-size: 48px;
    font-weight: bold;
    color: #810202;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: animacao-texto 5s infinite alternate;
}

@keyframes animacao-texto {
    0% {
        transform: translateX(20px);
    }
    25% {
        transform: translateX(-20px);
    }
    50% {
        transform: translateY(20px);
    }
    75% {
        transform: translateY(-20px);
    }
    100% {
        transform: translateX(0);
    }
}
